body {
  background: #eee9e9;
  background: -webkit-linear-gradient(top right, #eee9e9, #efefef);
  background: -moz-linear-gradient(top right, #eee9e9, #efefef);
  background: linear-gradient(to bottom left, #eee9e9, #efefef);
}
.input {
  margin-left: 5em;
}
.input * {
  margin-right: 2em;
  margin-bottom: 0.5em;
  width: 70%;
}
#firstName {
}
.space {
  height: 2px;
  width: 60%;
  background-color: black;
}
.button {
  width: 30%;
}
.prevBtn {
  display: flex;
  justify-content: center;
}
.preview {
  width: 20%;
}
